[Desktop Entry]
Encoding=UTF-8
Name=Link to Learn TensorFlow and deep learning, without a Ph.D. | Google Cloud Big Data and Machine Learning Blog  |  Google Cloud Platform
Type=Link
URL=https://cloud.google.com/blog/big-data/2017/01/learn-tensorflow-and-deep-learning-without-a-phd
Icon=text-html
